@import '../../node_modules/pretty-checkbox/src/pretty-checkbox.scss';
.main-div{
  width: 95%;
}
.hiddenOverflow{
  overflow: hidden;
}
.leftFloat{
  float: left;
}
.rightFloat{
  float: right
}
.modal-dialog{
  width: 50%;
}
.cardDiv{
width: 60%;
}
.downloadDiv{
  width: 40%;
}
